*{
    font-family: sans-serif;
}

body{
    background-color: #8347A1 !important;
}
div{
    background-color: white !important;
}

h2 {
    text-align: center;
    padding: 10px;
}
input{
    border-radius: 1px;
}
.text-span{
    text-align: center;
}