*{
    font-family: sans-serif;
}

body{
    background-color: black;
}

.div {
    margin: 50px;
    width: 50%;
}

h2 {
    text-align: center;
    padding: 10px;
}
form {
    margin: 20px;
    padding: 10PX;
}
input{
    border-radius: 1px;
}